<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https:/unpkg.com/vue@3.0.2"></script>
    <script>var exports = {};</script>
    <title>Learning Vue</title>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello Vue :)</h1>
    <div id="app">
        <div v-if="showBooks">

            <p>{{ title }} - {{ author }} - {{ age }}</p>
            <button v-on:click="age++">Increase age by 1</button>
            <button v-on:click="age--">Decrease age by 1</button>
            <!-- @click is a shorthand for v-on:click -->
            <div @click="changeTitle('Oathbringer')">Change book title</div>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <!-- Show toggles displaying the element via css. Computationally cheaper than removing/adding to DOM like with v-if -->
        <div v-show="showBooks">currently showing books</div>

        <br>
        <!-- more mouse events -->
        <!-- $event says to explicitly pass the event object in as the first argument, then we can pass in other
        position arguments following that. If no arguments provided, $event is implicitly the first argument.
        If some arguments are provided, $event has to be explicitly passed. -->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">position: {{ x }}, {{ y }}</div>
    </div>
    <script src="app.js"></script>
</body>
</html>
